<script>
    document.addEventListener("DOMContentLoaded", async () => {
    const product = document.querySelector(".stars-section");
    const reward = document.querySelector(".reward-points");
     if (product && reward) {
    product.prepend(reward);
    console.log("product and rewad assigned");
     }
    console.log(reward);
    console.log(product);
    })
</script>
{% if product %}
  <div class="reward-points">
    <img
      src="https://cdn.shopify.com/s/files/1/0921/8428/1416/files/Star1.svg?v=1760786787"
      alt="Star Icon"
    />
    <p>Earn <strong>{{ section.settings.points }}</strong> points with this purchase</p>
  </div>
{% endif %}

<style>
  .reward-points {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f8f8f8;
    padding: 8px 12px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 14px;
    width: fit-content;
    margin-top: 10px;
  }

  .reward-points img {
    width: 18px;
    height: 18px;
  }

  .reward-points p {
    margin: 0;
  }
</style>

{% schema %}
{
  "name": "Product Points Badge",
   "target":"section",
  "settings": [
    {
      "type": "number",
      "id": "points",
      "label": "Points to show",
      "default": 22
    },
    {
      "type": "text",
      "id": "message",
      "label": "Text Message",
      "default": "Earn points with this purchase"
    }
  ],
}
{% endschema %}
